


<footer class="rodape-f1">
    <div class="container-rodape">
        
        <div class="rodape-bloco esquerda">
            <span class="redes-sociais-texto">Redes Sociais:</span>
            <a href="https://www.instagram.com/f1" target="_blank" aria-label="Instagram Oficial da Fórmula 1">
                <img src="https://static.vecteezy.com/system/resources/previews/019/874/344/non_2x/instagram-apps-icon-free-png.png" 
                alt="" class="imglogo"> </a>
            <a href="https://www.facebook.com/Formula1" target="_blank" aria-label="Facebook Oficial da Fórmula 1">
                <img src="https://tse4.mm.bing.net/th/id/OIP.BYHUuC5k6HRunXC0cNGDFAAAAA?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3" 
                alt="" class="imglogo"> </a>
            <a href="https://www.youtube.com/@Formula1" target="_blank" aria-label="YouTube Oficial da Fórmula 1">
                <img src="https://thumbs.dreamstime.com/b/%C3%ADcone-do-logotipo-preto-e-branco-quadrado-youtube-de-alta-resolu%C3%A7%C3%A3o-arquivo-eps-vetorial-tamb%C3%A9m-dispon%C3%ADvel-para-downloads-189206686.jpg" 
                alt="" class="imglogo"> </a>
        </div>
        
        <div class="rodape-bloco centro">
            <p>&copy; 2025 Todos os direitos reservados.</p>
        </div>
        
        <div class="rodape-bloco direita">
            <img src="HEADERF1LOGO.png" alt="Logo da Fórmula 1" class="logo-f1">
        </div>
        
    </div>
</footer>
     
