.banner {
    background-color: #100A49;
    height: 100px; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    display: flex;
    align-items: center; 
}

.ban {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    padding-left: 30px;

  
}

.banner img {
 
    width: 150px;
    height: 100px;
}

.banner {
    display: flex;
    
}

.titulo-ingressos a {
    color: white;
    text-decoration: none;
    padding-right: 20px;
    font-weight: bold;
   
   
    
}

.texto-header h1, 
.texto-header p, 
.texto-header span {
   
    display: block; 
    white-space: normal; 
    line-height: 1.2; 
    margin: 0; 
}

.texto-header h1,
.texto-header p {
    font-weight: bold;
}

.texto-header span {
    font-size: 13px;
    padding-top: 5px;
}

@media (max-width: 600px) {
    .banner {
      
        height: auto; 
        padding: 10px 0;
    }

    .ban {
      
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
        padding-left: 0; 
        gap: 5px;
    }

    .banner img {
        width: 100px; 
        height: auto;
    }
    
    .texto-header {
        text-align: center; 
        padding: 0 10px;
        font-size: 0.8em; 
    }
}


