.banner {
    background-color: #100A49;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
   
}

.banner img {
    width: 150px;
    height: 100px;
    margin-left: 30px;
}

.ban {
    display: flex;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}