.banner {
    background-color: #100A49;
    height: 100px;
   
}

.banner img {
    width: 150px;
    height: 100px;
    margin-left: 30px;
}

.ban {
    display: flex;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}