<div class="main-content">
  <div class="background-image">
    
    <div id="main-cards-container" class="cards-container main-cards">
      <div class="card" data-action="meus-ingressos">
        <h3 class="tituloingressos">Meus ingressos</h3>
      </div>
      <div class="card" id="next-stages-button">
        <h3>Próximas etapas</h3>
      </div>
      <div class="card" data-action="termos-condicoes">
        <h3>Termos e condições</h3>
      </div>
    </div>

    
    <div id="stage-cards-container" class="cards-container stage-cards hidden">
    
    <h2 class="stages-title">PRÓXIMAS ETAPAS</h2>

    <div id="stages-wrapper" class="stages-wrapper">
        </div>
    
    <div id="back-button" class="card back-button">
        <h3>Menu Principal</h3>
    </div>
    
</div>
  </div>
</div>
