.rodape-f1 {
    background-color:  #e1cbee; 
    padding: 20px 0;
    width: 100%;
    position: relative; 
    bottom: 0;      
    left: 0;      
    z-index: 1000;
}

.container-rodape {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 40px;
}

.rodape-bloco {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.rodape-bloco.esquerda {
    order: 1;
}

.redes-sociais-texto {
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
}

.rodape-bloco.esquerda a {
    text-decoration: none;
    color: #100A49;
    margin-right: 10px;
    transition: opacity 0.3s;
    display: block; 
}

.rodape-bloco.esquerda a:hover {
    opacity: 0.8;
}

.icone-social {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.imglogo {
    max-width: 40px;
    max-height: 10%;
    background-color: #100A49;
    border-radius: 20px;
}

.rodape-bloco.centro {
    order: 2;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.rodape-bloco.centro p {
    margin: 0;
}

.rodape-bloco.direita {
    order: 3;
}

.logo-f1 {
    height: 30px; 
    width: auto;
    filter: brightness(0) invert(1); 
    max-width: 150px; 
    
}

@media (max-width: 768px) {
    .container-rodape {
        flex-direction: column;
        text-align: center;
    }
    
    .rodape-bloco {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .redes-sociais-texto {
        display: block; 
        margin-bottom: 5px;
        margin-right: 0;
    }

    .rodape-bloco.esquerda { order: 1; margin-bottom: 15px; flex-wrap: wrap; }
    .rodape-bloco.centro { order: 2; }
    .rodape-bloco.direita { order: 3; margin-top: 15px; }
}