
<h1 class="t1">Interlagos - 07, 08 e 09 de Novembro</h1>
<div class="mapasetores">
    <img src="mapasetores.png" alt="">
</div>

<div class="setores-wrapper">
   

    <div class="setores-lista">
        
        <div 
            class="setor-item cor-a" 
            [class.active]="setorA.estaAtivo"
            (click)="alternarExibicao(setorA)"
        >
            <span class="setor-titulo">
                {{ setorA.nome }}
                <span class="arrow-icon"></span> 
            </span>
            <div class="setor-detalhes">
                <p>{{ setorA.descricao }}</p> 
                <a [href]="setorA.link" target="_blank" class="buy-button" (click)="$event.stopPropagation()">
                    Ingressos a partir de R$ 710,00
                </a>
            </div>
        </div>

        <div 
            class="setor-item cor-b" 
            [class.active]="setorB.estaAtivo"
            (click)="alternarExibicao(setorB)"
        >
            <span class="setor-titulo">
                {{ setorB.nome }}
                <span class="arrow-icon"></span> 
            </span>
            <div class="setor-detalhes">
                <p>{{ setorB.descricao }}</p> 
                <a [href]="setorB.link" target="_blank" class="buy-button" (click)="$event.stopPropagation()">
                    Ingressos a partir de R$ 4.900,00
                </a>
            </div>
        </div>
        
        <div 
            class="setor-item cor-d" 
            [class.active]="setorD.estaAtivo"
            (click)="alternarExibicao(setorD)"
        >
            <span class="setor-titulo">
                {{ setorD.nome }}
                <span class="arrow-icon"></span> 
            </span>
            <div class="setor-detalhes">
                <p>{{ setorD.descricao }}</p> 
                <a [href]="setorD.link" target="_blank" class="buy-button" (click)="$event.stopPropagation()">
                    Ingressos a partir de R$ 4.230,00
                </a>
            </div>
        </div>

        <div 
            class="setor-item cor-g" 
            [class.active]="setorG.estaAtivo"
            (click)="alternarExibicao(setorG)"
        >
            <span class="setor-titulo">
                {{ setorG.nome }}
                <span class="arrow-icon"></span> 
            </span>
            <div class="setor-detalhes">
                <p>{{ setorG.descricao }}</p> 
                <a [href]="setorG.link" target="_blank" class="buy-button" (click)="$event.stopPropagation()">
                    Ingressos a partir de R$ 465,00
                </a>
            </div>
        </div>

            <div 
            class="setor-item cor-h" 
            [class.active]="setorH.estaAtivo"
            (click)="alternarExibicao(setorH)"
        >
            <span class="setor-titulo">
                {{ setorH.nome }}
                <span class="arrow-icon"></span> 
            </span>
            <div class="setor-detalhes">
                <p>{{ setorH.descricao }}</p> 
                <a [href]="setorH.link" target="_blank" class="buy-button" (click)="$event.stopPropagation()">
                    Ingressos a partir de R$ 1.250,00
                </a>
            </div>
        </div>

        <div 
            class="setor-item cor-m" 
            [class.active]="setorM.estaAtivo"
            (click)="alternarExibicao(setorM)"
        >
            <span class="setor-titulo">
                {{ setorM.nome }}
                <span class="arrow-icon"></span> 
            </span>
            <div class="setor-detalhes">
                <p>{{ setorM.descricao }}</p> 
                <a [href]="setorM.link" target="_blank" class="buy-button" (click)="$event.stopPropagation()">
                    Ingressos a partir de R$ 1.575,00
                </a>
            </div>
        </div>

        <div 
            class="setor-item cor-r" 
            [class.active]="setorR.estaAtivo"
            (click)="alternarExibicao(setorR)"
        >
            <span class="setor-titulo">
                {{ setorR.nome }}
                <span class="arrow-icon"></span> 
            </span>
            <div class="setor-detalhes">
                <p>{{ setorR.descricao }}</p> 
                <a [href]="setorR.link" target="_blank" class="buy-button" (click)="$event.stopPropagation()">
                    Ingressos a partir de R$ 920,00
                </a>
            </div>
        </div>

        <div 
        class="setor-item cor-t" 
        [class.active]="setorT.estaAtivo"
        (click)="alternarExibicao(setorT)"
    >
        <span class="setor-titulo">
            {{ setorT.nome }}
            <span class="arrow-icon"></span> 
        </span>
        <div class="setor-detalhes">
            <p>{{ setorT.descricao }}</p> 
            <a [href]="setorT.link" target="_blank" class="buy-button" (click)="$event.stopPropagation()">
                Ingressos a partir de R$ 1.400,00
            </a>
        </div>
    </div>

    



<div 
        class="setor-item cor-porto" 
        [class.active]="setorporto.estaAtivo"
        (click)="alternarExibicao(setorporto)"
    >
        <span class="setor-titulo">
            {{ setorporto.nome }}
            <span class="arrow-icon"></span> 
        </span>
        <div class="setor-detalhes">
            <p>{{ setorporto.descricao }}</p> 
            <a [href]="setorporto.link" target="_blank" class="buy-button" (click)="$event.stopPropagation()">
                Ingressos a partir de R$ 956,25
            </a>
        </div>
    </div>

    <div 
        class="setor-item cor-grandprixclub" 
        [class.active]="setorGRANDPRIXCLUB.estaAtivo"
        (click)="alternarExibicao(setorGRANDPRIXCLUB)"
    >
        <span class="setor-titulo">
            {{ setorGRANDPRIXCLUB.nome }}
            <span class="arrow-icon"></span> 
        </span>
        <div class="setor-detalhes">
            <p>{{ setorGRANDPRIXCLUB.descricao }}</p> 
            <a [href]="setorGRANDPRIXCLUB.link" target="_blank" class="buy-button" (click)="$event.stopPropagation()">
                Ingressos a partir de R$ 19.300,00
            </a>
        </div>
    </div>

        <div 
        class="setor-item cor-gramado" 
        [class.active]="setorGRAMADO.estaAtivo"
        (click)="alternarExibicao(setorGRAMADO)"
    >
        <span class="setor-titulo">
            {{ setorGRAMADO.nome }}
            <span class="arrow-icon"></span> 
        </span>
        <div class="setor-detalhes">
            <p>{{ setorGRAMADO.descricao }}</p> 
            <a [href]="setorGRAMADO.link" target="_blank" class="buy-button" (click)="$event.stopPropagation()">
                Ingressos a partir de R$ 1.150,00
            </a>
        </div>
    </div>

    <div 
    class="setor-item cor-estrela" 
    [class.active]="setorESTRELA.estaAtivo"
    (click)="alternarExibicao(setorESTRELA)"
>
    <span class="setor-titulo">
        {{ setorESTRELA.nome }}
        <span class="arrow-icon"></span> 
    </span>
    <div class="setor-detalhes">
        <p>{{ setorESTRELA.descricao }}</p> 
        <a [href]="setorESTRELA.link" target="_blank" class="buy-button" (click)="$event.stopPropagation()">
            Ingressos a partir de R$ 4.600,00
        </a>
    </div>
</div>

    <div 
        class="setor-item cor-treeclub" 
        [class.active]="setorTREECLUB.estaAtivo"
        (click)="alternarExibicao(setorTREECLUB)"
    >
        <span class="setor-titulo">
            {{ setorTREECLUB.nome }}
            <span class="arrow-icon"></span> 
        </span>
        <div class="setor-detalhes">
            <p>{{ setorTREECLUB.descricao }}</p> 
            <a [href]="setorTREECLUB.link" target="_blank" class="buy-button" (click)="$event.stopPropagation()">
                Ingressos a partir de R$ 7.500,00
            </a>
        </div>
    </div>

    <div 
        class="setor-item cor-pitstopclub" 
        [class.active]="setorPITSTOPCLUB.estaAtivo"
        (click)="alternarExibicao(setorPITSTOPCLUB)"
    >
        <span class="setor-titulo">
            {{ setorPITSTOPCLUB.nome }}
            <span class="arrow-icon"></span> 
        </span>
        <div class="setor-detalhes">
            <p>{{ setorPITSTOPCLUB.descricao }}</p> 
            <a [href]="setorPITSTOPCLUB.link" target="_blank" class="buy-button" (click)="$event.stopPropagation()">
                Ingressos a partir de R$ 9.750,00
            </a>
        </div>
    </div>

    </div>
</div>