<footer class="banner-rodape">
    <div class="ban-rod">
        
        <div class="container-rodape">
        <img src="HEADERF1LOGO.png" alt="Logo rodape">
        
        <div class="textorod">
        <h1>FORMULA 1 MSC CRUISES</h1>
        <p>GRANDE PRÊMIO DE SÃO PAULO 2025</p>
        <span>SÃO PAULO 07-09 NOVEMBRO</span>
        
        <div class="rodape-bloco-esquerda">
            
            <a href="https://www.instagram.com/f1" target="_blank" aria-label="Instagram Oficial da Fórmula 1">
                <img src="instlogo.png" 
                alt="" class="imglogo"> </a>
            <a href="https://www.facebook.com/Formula1" target="_blank" aria-label="Facebook Oficial da Fórmula 1">
                <img src="facelogo.png" 
                alt="" class="imglogo"> </a>
            <a href="https://www.youtube.com/@Formula1" target="_blank" aria-label="YouTube Oficial da Fórmula 1">
                <img src="youlogo.png" 
                alt="" class="imglogo"> </a>
                  <div class="realizacao">
        <h1>Realização</h1>
        <div class="container-flex">
            <div class="logo-gp-sp">
                <img src="gpfooter.png" alt="Logo GP SP">
            </div>
            
                <img src="prefsp.png" alt="Logo cidade SP">
                <span>CIDADE DE <br>SÃO PAULO</span>
            </div>
        
    </div>  
        </div>
    
    </div>
    
    </div>
        
    </div>
   
        <div class="p-rod">
            <p>O logotipo F1 FORMULA 1, logotipo F1, FORMULA 1, F1,
            FIA FORMULA ONE WORLD CHAMPIONSHIP, FORMULA 1 GRANDE
            PRÊMIO DE SÃO PAULO e marcas relacionadas são marcas
            registradas da Formula One Licensing BV, uma empresa
            Formula 1. Todos os direitos reservados. MC Brazil 
            Motorsport Holdings S.A., Av. Magalhães de Castro,
            4.800, 18º andar, Conj. 181, Ed. Park Tower, CEP
            05.676-120, São Paulo/SP, Brasil | E-mail:
            faleconosco&#64;f1saopaulo.com.br </p>
        </div>
    
    
</footer>
