.ban-rod img {
    width: 100px;
    height: auto;
    
}

.banner-rodape {
    background-color: #100A49;
    width: 100%;
    height: auto;
}

.banner-rodape .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.ban-rod {
    display: flex;
    align-items: center;
    color: white;
    gap: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.realizacao {
    background-color: #100A49;
    color: white;
    font-size: 18px;
    text-align: center;
}

.container-flex {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
    gap: 0px; /* Adiciona espaço entre as imagens e o texto */
}

.container-flex img {
    width: 100px;
    height: auto;
}

.logo-gp-sp {
    max-width: 200px;
    height: auto;
}

.p-rod {
    background-color: #100A49;
    color: #b5b5b5;
    text-align: center;
    line-height: 1.3;
    font-size: 12px;
}

@media (max-width: 600px) {
    .banner-rodape {
        position: relative;
        top: 70%;
    }
}