.newsford {
    padding-top: 150px;
    
}

.newsford h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 40px;
}

.newsford p {
    line-height: 1.5;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
}

.newsford img {
    max-width: 60%;
    padding-left: 3%;
    padding-bottom: 40px;
}

.autoria {
    display: block; 
    text-align: right; 
    margin-top: 30px; 
    font-style: italic; 
    padding-bottom: 20px;
    padding-right: 30px;
}

.p1 {
    display: flex; 
    gap: 20px; 
    align-items: flex-start; 
     
}

.p1 img {
    max-width: 50%;
    height: auto;
    height: 310px;
}

.p1 p {
    
    text-align: justify; 
    line-height: 1.6;
    margin: 0;
    padding-right: 3%;

    flex-grow: 1; 
}
