html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fontes para o card*/
:root {
	--font-montserrat: 'Montserrat', sans-serif;
	--font-prata: 'Prata', serif;
	--color-primaria: #6278F7;
	--color-secundaria: #2E2E2E;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
  } 
  
  /* Lista de pilotos*/

  .texto-titulo {
	font-family: var(--font-prata);
	font-size: 40px;
	font-weight: var(--font-weight-normal);
	line-height: 72px;
	text-align: center;
	color: var(--color-primaria);
  }
  .linha-destaque {
	display: block;
	margin: 0 auto;
  }

  body {
	overflow-x: hidden;
	box-sizing: border-box;
	padding-top: 90px; /* Use a altura do seu cabeçalho aqui */
  }
  
 
  /* Opcional: Garanta que o cabeçalho fique no topo */
  app-cabecalho {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000; /* Garante que o cabeçalho fique sobre o conteúdo */
  }

  /* src/app/styles.css ou no seu componente de pilotos */

@media (max-width: 768px) {
	/* Regras que se aplicam em telas de até 768px de largura */
	
	.container-pilotos {
	  /* Em telas pequenas, alinhe os cards de uma forma diferente */
	  flex-direction: column;
	  align-items: center;
	}
	
	.piloto-card {
	  /* Ajuste a largura para que o card ocupe a maior parte da tela */
	  width: 90%;
	}
  }