.ban-rod img {
    width: 100px;
    height: auto;
    margin-left: 35%;
}

.banner-rodape {
    background-color: #100A49;
}

.ban-rod {
    display: flex;
    align-items: center;
    color: white;
    gap: 15px;
}

.realizacao {
    background-color: #100A49;
    color: white;
    font-size: 18px;
    text-align: center;
}

.container-flex {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
    gap: 0px; /* Adiciona espaço entre as imagens e o texto */
}

.container-flex img {
    width: 100px;
    height: auto;
}

.logo-gp-sp {
    max-width: 200px;
    height: auto;
}

.p-rod {
    background-color: #100A49;
    color: #b5b5b5;
    text-align: center;
    line-height: 1.3;
    font-size: 12px;
}