    <div class="max-w-4xl mx-auto my-8 p-8 bg-white shadow-2xl rounded-xl border-4 border-red-600">
        
        
        <!-- Contêiner do Vídeo -->
        <div class="video-container shadow-2xl ring-8 ring-red-400/50 transition duration-500 hover:ring-red-600">
            <iframe 
               
               
                src="https://www.youtube.com/embed/DWob2F3rs8k?autoplay=1&mute=1&controls=0"
                title="O grande alerta de Charles Leclerc para a Ferrari em 2026" 
                frameborder="0" 
                allow="autoplay; encrypted-media; gyroscope;" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen
            ></iframe>
        </div>


    </div>


