<div class="apoiadores-container">
  <h2 class="titulo-apoiadores">APOIADORES</h2>

    <div class="apoiadores-imagens">
      <img src="teste55.png" alt="Petrobras" class="logosenai">

      <div class="ford-container">
      <img src="fordfinal.png" alt="Bradesco">
      <span class="ford-texto">Philanthropy</span>
      </div>
      <div class="rede-container">
            <img src="redecidada.png" alt="Logo cidade SP">
            <span>REDE <br>CIDADÃ</span>
        </div>
    
    </div>
  </div>
